@import "variables";
@import "mixins";

.excel__toolbar {
	position: absolute;
	left: 0;
	right: 0;
	top:$header-height;
	height: $toolbar-height;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding: 7px 10px;
	display: flex;

	.button {
		@include button(green);
	}
}
.ff {
  display: none;
  display: flex;
  clear: none;
  margin-bottom: 4px;
  margin-left: 10px;
  width: auto;
  background: #000;
  display: flex;
  border:  solid #000;
  border: 1px solid #000;
  margin-top: 20px;
}
